# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_NAME=orders_db

# AWS / SQS (Localstack)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566

# Filas para o PUBLISHER (O que o Order Service envia)
SQS_ORDER_CREATED_URL=http://localhost:4566/000000000000/order-created-queue

# Filas para os CONSUMERS (O que o Order Service fica ouvindo)
SQS_PRODUCTION_UPDATES_URL=http://localhost:4566/000000000000/production-updates-queue
SQS_PAYMENT_UPDATES_URL=http://localhost:4566/000000000000/payment-updates-queue